# Vars to use in lxc-create
name="timeoverflow"
template="/usr/share/lxc/templates/lxc-ubuntu"
rls="xenial"
lxc_config="/tmp/ubuntu.$name.conf"
host="local.timeoverflow.org"
project_name="timeoverflow"
project_path="${PWD%/*}/$project_name"
app_user="ubuntu"
ssh_path="/.ssh/id_rsa.pub"
