# Vars to use in lxc-create
NAME="timeoverflow"
TEMPLATE="/usr/share/lxc/templates/lxc-ubuntu"
RLS="xenial"
LXC_CONFIG="/tmp/ubuntu.$name.conf"
PROJECT_NAME="timeoverflow"
PROJECT_PATH="${PWD%/*}/$project_name"
APP_USER="ubuntu"
