[Unit]
Description=Timeoverflow unicorn server

[Service]
Type=simple
SyslogIdentifier=timeoverflow-unicorn
User={{ app_user }}
PIDFile={{ app_path }}/shared/tmp/pids/unicorn.pid
WorkingDirectory={{ current_path }}
EnvironmentFile={{ environment_file }}

ExecStart=/home/timeoverflow/.rbenv/bin/rbenv exec bundle exec unicorn -c config/unicorn.rb
ExecReload=/bin/kill -s USR2 $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
