RAILS_ENV={{ rails_environment }}
DATABASE_NAME={{ database_name }}
DATABASE_USER={{ database_user }}
DATABASE_PASSWORD={{ database_password }}
SECRET_TOKEN={{ secret_token }}
MAIL_LINK_HOST=www.timeoverflow.org
MAILER_SENDER={{ mailer_sender }}
{% if skylight_authentication is defined %}
SKYLIGHT_AUTHENTICATION={{ skylight_authentication }}
{% endif %}
ADMINS={{ superadmins }}
SMTP_ADDRESS=smtp.mailgun.org
SMTP_PORT=587
SMTP_DOMAIN=staging.timeoverflow.org
SMTP_USER_NAME={{ smtp_username }}
SMTP_PASSWORD={{ smtp_password }}
