RAILS_ENV={{ rails_environment }}
DATABASE_NAME={{ database_name }}
DATABASE_USER={{ database_user }}
DATABASE_PASSWORD={{ database_password }}
SECRET_TOKEN={{ secret_token }}
MAIL_LINK_HOST=www.timeoverflow.org
MAILER_SENDER={{ mailer_sender }}
{% if skylight_authentication is defined %}
SKYLIGHT_AUTHENTICATION={{ skylight_authentication }}
{% endif %}
ADMINS={{ superadmins }}
SMTP_ADDRESS=smtp.mailgun.org
SMTP_PORT=587
SMTP_DOMAIN={{ inventory_hostname }}
SMTP_USER_NAME={{ smtp_username }}
SMTP_PASSWORD={{ smtp_password }}
ROLLBAR_ACCESS_TOKEN={{ rollbar_access_token }}
AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
AWS_BUCKET={{ aws_bucket }}
AWS_REGION={{ aws_region }}
